@use 'vars';

@font-face {
  font-family: "outfit";
  src: url(/Outfit.woff);
}

@font-face {
  font-family: "cascadia";
  src: url(/cascadiacode.woff2);
}

@view-transition {
  navigation: auto;
}

::view-transition-old(root),
::view-transition-new(root) {
  animation-duration: 0.3s;
}

:root {
  view-transition-name: root;
}

html {
  box-sizing: border-box;
}

body {
  font-family: "outfit";
  font-size: vars.$font-size;
  font-weight: 400;
  line-height: vars.$line-height;
  background-color: vars.$background;
  color: vars.$foreground;
  text-rendering: optimizeLegibility;
  font-variant-ligatures: contextual;
  -webkit-overflow-scrolling: touch;
  -webkit-text-size-adjust: 100%;
  margin: 0;
  padding: 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  padding: 0 1em;
  max-width: 40em;
}

p {
  text-rendering: optimizeLegibility;
  text-wrap: pretty;
}

details {
  summary {
    padding: 0.5em;
    width: 100%;
    margin: 0 auto;
    background-color: vars.$accent;
    color: vars.$background;
    cursor: pointer;
  }
}

hr {
  width: 100%;
  border: none;
  display: block;
  background: repeating-linear-gradient(90deg,
      vars.$accent,
      vars.$accent 2px,
      transparent 0,
      transparent 8px);
  height: 0.5em;
}

h1 {
  font-size: calc(vars.$font-size * 1.45);
  letter-spacing: 0;
}

h2 {
  font-size: calc(vars.$font-size * 1.35);
  letter-spacing: 0;
}

h3 {
  font-size: calc(vars.$font-size * 1.15);
  letter-spacing: 0;
}

h4,
h5,
h6 {
  font-size: vars.$font-size;
  letter-spacing: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
table {
  margin: 25px 0;
}

a,
a:visited {
  color: vars.$accent;
  font-weight: bold;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
b,
strong,
th,
button {
  font-weight: 600;
}

strong {
  text-decoration: underline;
}

table {
  table-layout: auto;
  border-collapse: collapse;
}

table,
th,
td {
  border: 2px solid vars.$foreground;
  padding: 10px;
}

th {
  border-style: solid;
  color: vars.$foreground;
  text-align: left;
  text-transform: uppercase;
  letter-spacing: 0.04em;
}

ul,
ol {
  margin-left: 2em;
  padding: 0;

  ul {
    list-style-type: disc;
  }
}

ul ul,
ul ol,
ol ul,
ol ol {
  margin-top: 0;
}

li::marker {
  color: vars.$accent;
}

ul li,
ol li {
  position: relative;
}


sup {
  line-height: 0;
}

abbr {
  position: relative;
  text-decoration-style: wavy;
  text-decoration-color: vars.$accent;
  cursor: help;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.25em;
}

mark {
  background: color-mix(in srgb, vars.$accent 45%, transparent);
  color: vars.$foreground;
}

blockquote {
  position: relative;
  border-top: 1px solid vars.$accent;
  border-bottom: 1px solid vars.$accent;
  margin: 0;
  padding: 25px;
}

blockquote:before {
  content: ">";
  display: block;
  position: absolute;
  left: 0;
  color: vars.$accent;
}

blockquote p:first-child {
  margin-top: 0;
}

blockquote p:last-child {
  margin-bottom: 0;
}