@use 'vars.scss';

code,
kbd {
  font-family: "cascadia";
  font-feature-settings: normal;
  background: color-mix(in srgb, vars.$foreground 5%, transparent);
  color: color-mix(in srgb, vars.$foreground 5%, vars.$accent);
  padding: 0 6px;
  margin: 0 2px;
  font-size: 0.95em;
}

code {
  border: 1px solid color-mix(in srgb, vars.$foreground 25%, transparent);
}

kbd {
  border-top: 1px solid color-mix(in srgb, vars.$accent 25%, transparent);
  border-left: 1px solid vars.$accent;
  border-right: 1px solid vars.$accent;
  border-bottom: 4px solid vars.$accent;
  border-radius: 4px;
}

code code {
  background: transparent;
  padding: 0;
  margin: 0;
}

pre {
  tab-size: 4;
  background: color-mix(in srgb, vars.$foreground 5%, transparent) !important;
  color: color-mix(in srgb, vars.$foreground 5%, vars.$accent);
  padding: 20px 10px;
  font-size: 0.95em !important;
  overflow: auto;
  border: 1px solid color-mix(in srgb, vars.$foreground 25%, transparent);
}

pre code {
  background: none !important;
  margin: 0;
  padding: 0;
  font-size: inherit;
  border: none;
}