@use 'vars';
@use 'base';
@use 'forms';
@use 'media';
@use 'code';

.between {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: .5em 0;
}

ul.article-list {
  list-style: none;
  margin-left: 0;

  li::before {
    content: "";
    position: absolute;
    right: 100%;
    top: 0;
    bottom: 0;
    width: 0.2em;
    background: vars.$accent;
    transition: width 0.1s linear;
  }

  li:hover::before {
    width: 0.5em;
  }

  li {
    position: relative;
    flex-wrap: wrap;
    min-height: 3em;
    border-left: 0.2em solid vars.$accent;
    padding: 0.5em;
    margin-bottom: 1em;

    header {
      text-decoration: underline vars.$accent;
      width: 100%;
      height: 100%;

      a:after {
        content: "";
        height: 100%;
        width: 100%;
        position: absolute;
        left: 0;
        top: 0;
      }

      a {
        width: 50%;

      }
    }

    footer {
      margin-bottom: 0em;
      justify-content: left;
    }

  }
}

footer {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  a {
    flex-wrap: wrap;
    text-decoration: underline;
    margin: 1em auto;

    svg {
      display: inline-block;
      width: 1em;
      color: vars.$accent;
    }
  }
}