@use 'vars';
@use 'base';
@use 'forms';
@use 'media';
@use 'code';

.between {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: .5em 0;
}

ul.article-list {
  list-style: none;
  margin-left: 0;

  li {
    display: block;
    flex-wrap: wrap;
    min-height: 3em;
    border-left: 0.2em solid vars.$accent;
    padding: 0.5em;
    margin-bottom: 1em;

    header {
      text-decoration: underline vars.$accent;
    }

    footer {
      margin-bottom: 0em;
      justify-content: left;
    }

  }
}

footer {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  a {
    flex-wrap: wrap;
    text-decoration: underline;
    margin: 1em auto;

    svg {
      display: inline-block;
      width: 1em;
      color: vars.$accent;
    }
  }
}