<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/x-icon" href="/favicon.png">
  <link rel="stylesheet" href="/terminal.css">
  <script src="/lightense.min.js"> </script>
  <script>
    window.addEventListener('load', function () {
      Lightense('img', {
        background: 'rgba(0, 0, 0, 0)'
      });
    }, false);
  </script>
  <title>Logan's Site</title>
</head>

<body>
  <section class="wrapper">
    <main>
      {% block content %}
      {% endblock content %}
    </main>
  </section>
</body>

</html>
