{% extends "base.html" %}

{% block head %}
<meta name="description" content="{{page.description}}">
<meta name="article:published_time" content="{{page.date}}">
<meta name="article:author" content="Logan Gatlin">
<meta name="og:url" content="{{page.permalink}}">
<meta name="og:title" content="{{page.title}}">
<meta name="og:description" content="{{page.description}}">
<meta name="og:type" content="website">
<meta name="og:image" content="{{page.extra.image}}">

<meta name="twitter:url" content="{{page.permalink}}">
<meta name="twitter:title" content="{{page.title}}">
<meta name="twitter:description" content="{{page.description}}">
<meta name="twitter:image" content="{{page.extra.image}}">
{% endblock head %}

{% block content %}
<h1 class="between">
  {{ page.title }}
  <a href="/"> ../ </a>
</h1>
<hr>
{{page.content | safe}}
{% endblock content %}
